.joints {
    position: absolute;
    left: 0;
    top: 0;
    background: red;
    /*border-left: 1px solid #000;*/
    box-sizing: border-box;

    /*transition: all .2s;*/
}

.joints .name{
    position: absolute;
    white-space: nowrap;
    background: rgba(68, 68, 68, 0.22);
    color: #000;
    /* position: absolute;
    left: 0;
    top: -2px;
    white-space: nowrap; */
}
.joints.head{
	/*background: #000 !important;*/
}


.joints.left {
    border-left: 2px solid #000;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
}

.joints.top {
    border-left: 2px solid #000;
    border-top: 2px solid #000;
    border-right: 2px solid #000;
}

.joints.right {
    border-bottom: 2px solid #000;
    border-top: 2px solid #000;
    border-right: 2px solid #000;
}

.joints.bottom {
    border-left: 2px solid #000;
    border-bottom: 2px solid #000;
    border-right: 2px solid #000;
}

.joints.red {
    background: red;
}

.joints.blue {
    background: blue;
}

.joints.pink {
    background: pink;
}

.joints.green {
    background: green;
}


/*.joints {}*/
