/* Base Application Styles */

body {
    color: #fff;
    background: #222;
}

.tip{
    font-size: 13px;
}

.scene{
    position: relative;
}

.bg-layer {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.play-layer{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}


.rank-list{
    position: absolute;
}

.rank-list td{
    min-width: 40px
}

.rank-list table {
    font-family: verdana,arial,sans-serif;
    font-size:11px;
    color:#333333;
    border-width: 1px;
    border-color: #666666;
    border-collapse: collapse;
}
.rank-list table th {
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #666666;
    background-color: #92E6FF;
}
.rank-list table td {
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #666666;
    background-color: #ffffff;
    text-align: center;
    white-space: nowrap;
}